.detailEducation {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 4vw 0 4vw;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  background: var(--surface-primary);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-primary-light);
  z-index: 100;
}

.header>span {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: clamp(36px, calc(2vw + 2rem), 56px);
  line-height: 100%;
  color: var(--text-primary);
  max-width: calc(100% - 50px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header .date {
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 24px;
  color: var(--text-muted);
  font-weight: 300;
  text-transform: uppercase;
}

.primaryButton {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: var(--active-label-weight);
  background: var(--color-primary);
  color: var(--text-alternative);
  height: 50px;
  padding: 0 40px;
  border-radius: 500px;
  transition: var(--dynamic-fast-transition);
}

.primaryButton svg path,
.primaryButton svg line {
  stroke: var(--text-alternative);
}

.primaryButton.disabled {
  display: none;
}

.primaryButton:hover {
  background: var(--color-primary-dark);
}

.primaryButton:active {
  transform: scale(.9);
}


/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block: 30px;
}

.mainTop {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px minmax(350px, 2fr) minmax(250px, 1fr));
  gap: 50px;
}

.main .col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.institution {
  width: 100%;
  padding-inline: 0 30px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  transition: var(--dynamic-fast-transition);

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
  }
}

.institution::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transform: scaleX(.8);
  transform-origin: left;
  border: 1px solid var(--text-primary-transparent);
  background: var(--text-primary-transparent);
  transition: var(--dynamic-fast-transition) transform;
}

.institution:hover {
  padding-inline: 15px;
}

.institution:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.mainBottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr));
  gap: 30px;
}

.mainBottom>div {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--color-primary-light);
  padding: 20px 20px;
  position: relative;
}

.mainBottom>div::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  border-radius: 20px;
}

.mainBottom>div * {
  z-index: 2;
}

.mainBottom .icon {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: var(--color-primary-light);
  border-radius: 20px;
}

.outstanding .icon {
  background: var(--surface-icon-outstanding);
}

.outstanding .icon path {
  fill: var(--text-outstanding);
}

.classes .icon path {
  fill: var(--color-primary);
}

.hours .icon svg g path {
  fill: var(--color-primary);
}

.mainBottom h2 {
  font-size: 26px;
  color: var(--color-primary);
  letter-spacing: -1px;
}

.outstanding h2 {
  color: var(--text-outstanding);
}

.mainBottom h2+span {
  letter-spacing: -1px;
}

.outstanding {
  font-weight: var(--paragraph-weight);
  color: var(--text-outstanding);
  background: linear-gradient(to right, transparent 15%, var(--border-outstanding) 50%, transparent 85%);
}

.hours,
.classes {
  background: linear-gradient(to right, transparent 15%, var(--color-primary) 50%, transparent 85%);
}

.outstanding::before {
  background: var(--surface-outstanding);
}

.outstanding span {
  color: var(--text-secondary);
}

.hours::before,
.classes::before {
  background: var(--surface-primary);
}

/* CERTFICATE */
.certificate {
  padding: 60px;
  margin-bottom: 30px;
  border-radius: 90px;
  display: flex;
  background: var(--color-neutral);
}

.certificate>span {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  border: 1px solid var(--color-primary-light);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.certificate img {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.warning {
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  color: var(--text-muted);
  text-align: center;
  line-height: 140%;
}

.warning svg {
  width: 100px;
  height: 100px;
}

.warning path {
  fill: var(--color-primary);
  opacity: .2;
}


/* MEDIA QUERIES */
@media (width <=1024px) {
  .mainTop {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .mainTop .col:nth-child(2) {
    order: 3;
  }

  .mainTop .col > span {
    display: none;
  }

  .tags {
    margin-block: 5px 20px;
  }

  .mainBottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .mainBottom .outstanding {
    width: 100%;
    flex-grow: 1;
  }

  .mainBottom .hours,
  .mainBottom .classes {
    width: calc(50% - 10px);
    min-width: 300px;
    flex-grow: 1;
  }

  .certificate img {
    min-height: 370px;
  }
}

@media (width <=768px) {
  .detailEducation {
    padding: 0 4vw 100px 4vw;
  }

  .header .cta {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
  }

  .header .cta::before {
    content: "";
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%) scale(2);
    position: absolute;
    z-index: -1;
    width: 120vw;
    height: 200px;
    background: var(--surface-primary);
    filter: blur(10px);
  }

  .hero {
    margin: 0;
  }

  .heroTop span {
    max-height: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .main {
    margin-top: 20px;
  }

  .certificate:not(:has(.warning)) {
    padding: 0;
    margin-bottom: 30px;
    background: none;
  }

  .certificate {
    border-radius: 30px;
  }

  .certificate img {
    min-height: 200px;
  }
}