.relatedProjects {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-top: 70px;
  border-top: 1px solid var(--color-primary-light);
}

.relatedProjects > span {
  z-index: 10;
}

.containerCarousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
}

.containerCarousel::before,
.containerCarousel::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 150%;
  background: var(--surface-primary);
  filter: blur(30px);
  z-index: 3;
  pointer-events: none;
  transition: var(--dynamic-fast-transition);
}

.containerCarousel::before {
  left: -100px;
}

.containerCarousel::after {
  right: -100px;
}

.carouselCards {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-top: 70px;
}

.carouselCards>a {
  width: 300px;
  min-width: 300px;
}

.slideControl {
  position: absolute;
  top: 165px;
  background: var(--text-primary);
  border-radius: 60px;
  z-index: 5;
  width: 60px;
  height: 50px;
  display: grid;
  place-items: center;
  transition: var(--dynamic-fast-transition);
}

.slideControl path {
  stroke: var(--surface-primary);
  stroke-width: 2;
}

.slideControl:nth-of-type(1) {
  left: 0;
}

.slideControl:nth-of-type(2) {
  right: 0;
}

.containerCarousel.isLeftHidden::before {
  left: -250px;
}

.containerCarousel.isRightHidden::after {
  right: -250px;
}

.containerCarousel.isLeftHidden .slideControl:nth-of-type(1) {
  opacity: 0;
  pointer-events: none;
}

.containerCarousel.isRightHidden .slideControl:nth-of-type(2) {
  opacity: 0;
  pointer-events: none;
}

.containerCarousel.notScrollable::before,
.containerCarousel.notScrollable::after {
  opacity: 0;
}

@media (width <=768px) {
  .slideControl {
    display: none;
  }

  .containerCarousel::before {
    left: -150px;
  }

  .containerCarousel::after {
    right: -150px;
  }

  .carouselCards>a {
    width: 220px;
    min-width: 220px;
  }
  
}