.detailProject {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4vw 0 4vw;
  scroll-behavior: smooth;
}

/* NAV */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: 80px;
  padding-top: 20px;
  top: 0;
  z-index: 100;
  pointer-events: none;
}

.coverNav {
  position: fixed;
  width: calc(100% + 8vw);
  height: 500px;
  top: 0;
  left: -4vw;
}

.coverNav::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 120vw;
  height: 200px;
  background: var(--surface-primary);
  top: -130px;
  left: 50%;
  filter: blur(40px);
  z-index: -1;
  transform: translate(-50%);
  opacity: 0;
  transition: var(--dynamic-fast-transition);
}

.nav h2 {
  font-size: clamp(36px, calc(2vw + 2rem), 56px);
  line-height: 100%;
  color: var(--text-primary);
}

.nav .info {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px 0 5px;
  border-radius: 50px;
  border: 1px solid var(--color-primary-light);
  background: var(--surface-primary-transparent);
  backdrop-filter: blur(10px);
  transition: var(--dynamic-fast-transition);
}

.nav .info:hover {
  background: var(--color-primary-light);
}

.info>img {
  height: 50px;
  border-radius: 50px 10px 10px 50px;
  user-select: none;
  pointer-events: none;
}

.info>span>span {
  font-size: 12px;
  font-weight: 500;
}

.info span {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info h2 {
  font-size: 24px;
}

.info>svg {
  margin-left: 10px;
  transition: var(--dynamic-fast-transition);
}

.info>svg path {
  stroke: var(--text-primary);
  opacity: .3;
}

.nav .info:hover>svg {
  animation: var(--dynamic-transition) toTop alternate;
}

@keyframes toTop {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav>div:nth-child(2) {
  pointer-events: none;
}

.nav .info {
  pointer-events: none;
  transform: translateY(-30px);
  opacity: 0;
  transition: transform var(--dynamic-transition);
}

.nav.scrolled .info {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.nav.scrolled .coverNav::before {
  opacity: 1;
}

.cover {
  position: fixed;
  pointer-events: none;
}

/* HEADER */
.header {
  display: flex;
  margin-block: 30px 80px;
}

.background {
  width: 100%;
  inset: 0;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: blur(40px);
  opacity: .7;
}

.background .shadow {
  width: 100%;
  position: absolute;
  top: 300px;
  height: 300px;
  border-radius: 500px;
  filter: blur(50px);
  background: var(--surface-primary);
}

.background .noise {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background-image: url('../../assets/Ilustrations/NoiseDetailProject.svg'), linear-gradient(to bottom, transparent, var(--surface-primary));
  background-size: contain;
  background-blend-mode: overlay;
  opacity: .3;
}

.headerLeft {
  width: 50%;
  height: max-content;
  position: sticky;
  top: 40px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.headerLeft>img {
  object-fit: cover;
  border-radius: 20px;
  max-height: 70vh;
  border: 2px solid var(--text-primary-transparent);
}

.thumbnail {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.thumbnailItem {
  width: 100px;
  height: 80px;
  padding: 10px;
  border: 2px solid var(--text-primary-transparent);
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.thumbnailItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.headerRight {
  position: relative;
  width: 60%;
  padding: 50px 50px 50px 70px;
  margin: 100px 0 0 -20px;
  border: 2px solid var(--text-primary-transparent-2);
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 50px 0 0;
  overflow: hidden;
}

.headerRight::before {
  content: "";
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(var(--text-primary-transparent), transparent);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.headerRight h1 {
  color: var(--text-primary);
  font-size: clamp(2rem, calc(3rem + 2.5vw), 65px);
  line-height: 80%;
  margin-top: 5px;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero>div>span {
  font-size: 18px;
  color: var(--text-primary);
  opacity: .5;
}

.tags {
  margin-bottom: 20px;
}

.divisor {
  width: 100%;
  border: none;
  height: 2px;
  background: var(--text-primary-transparent-2);
  margin-block: 20px;
}

.cta {
  position: relative;
  display: flex;
  gap: 5px;
  z-index: 8;
}

.cta.fixed {
  position: fixed;
  z-index: 105;
  right: 4vw;
  top: 20px;
  animation: var(--dynamic-transition) toBottom forwards;
}

@keyframes toBottom {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: var(--active-label-weight);
  width: 60px;
  height: 50px;
  border-radius: 80px 20px 20px 80px;
  transition: .15s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: var(--color-primary);
  color: var(--text-alternative);
  font-size: 16px;
  border: 2px solid transparent;
}

.primaryButton svg path,
.primaryButton svg line {
  stroke: var(--text-alternative);
}

.moreOptions {
  position: relative;
  width: 60px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 20px 80px 80px 20px;
  padding-right: 3px;
  background: var(--text-primary-transparent);
  transition: var(--dynamic-fast-transition);
}

.moreOptions:hover {
  background: var(--text-primary-transparent-2);
}

.cta.fixed .moreOptions {
  background: var(--surface-primary-transparent);
  border: 1px solid var(--color-primary-light);
}

.cta.fixed .moreOptions:hover {
  background: var(--hover-primary-light);
}

.headerRight .moreOptions:hover {
  background: var(--text-primary-transparent-2);
}

.moreOptions svg {
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.moreOptions .points path {
  fill: var(--color-primary);
}

.moreOptions .x {
  top: calc(50% - 10px);
}

.moreOptions .x path {
  stroke: var(--color-primary);
}

.moreOptions:not(.open) .points,
.moreOptions.open .x {
  transition: var(--dynamic-fast-transition);
  transition-delay: .05s;
  opacity: 1;
  top: 50%;
}

/* MAIN */

.main {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}

.sheets {
  width: 100%;
  position: relative;
  border: 2px solid var(--color-neutral);
  background: var(--color-neutral);
  border-radius: 30px;
}

.images {
  border-radius: 30px;
  z-index: 3;
  overflow: hidden;
}

.images>* {
  margin-bottom: -5px;
}

.action {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  pointer-events: none;
}

.openIndex {
  position: sticky;
  top: 130px;
  width: 50px;
  height: 50px;
  transform: translateX(20px);
  z-index: 5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  background: var(--surface-primary);
  transition: var(--dynamic-fast-transition) padding;
  border: 2px solid var(--color-primary-light);
  overflow: hidden;
  margin: 0;
  opacity: 0;
}

.main:not(.showIndex) .openIndex {
  opacity: 1;
  pointer-events: all;
}

.openIndex>span {
  position: absolute;
  transform: translateX(50px);
  width: max-content;
  opacity: 0;
  pointer-events: none;
}

.openIndex:hover {
  width: max-content;
  padding-inline: 30px;
  border-radius: 50px;
}

.openIndex:hover span {
  position: static;
  transform: translateX(0);
  opacity: 1;
}

.openIndex:active {
  transform: translateX(20px) scale(1);
}

.openIndex path {
  stroke: var(--color-primary);
}

.openIndex:active {
  background: var(--color-primary-light);
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

/* ASIDE */
.aside {
  width: 0;
  position: sticky;
  height: max-content;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: var(--dynamic-transition);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
}

.main:not(.showIndex) {
  gap: 0;
}

.main.showIndex .aside {
  width: 250px;
  clip-path: polygon(0 0, 110% -10%, 110% 110%, 0 110%);
  pointer-events: all;
}

.asideHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIndex {
  position: relative;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.closeIndex path {
  stroke: var(--text-muted);
}

.closeIndex::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(.6);
  opacity: 0;
  background: var(--color-primary-light);
  transition: var(--dynamic-fast-transition);
}

.closeIndex:hover::before {
  opacity: 1;
  transform: scale(1.2);
}

.closeIndex:hover path {
  stroke: var(--text-primary);
}

.indexList {
  width: 220px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-left: 25px;
  overflow: hidden;
}

.indexList h4 {
  display: none;
}

.indexItem {
  position: relative;
  width: 100%;
  height: 40px;
  padding-inline: 5px 0;
  border-radius: 50px;
  user-select: none;
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  transition: var(--dynamic-fast-transition);
}

.indexItem:hover {
  padding-inline: 20px 0;
}

.indexItem:active {
  transform: scale(1);
}

.indexItem:not(:last-child):before {
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: -20px;
  width: 3px;
  height: 25px;
  border-radius: 5px;
  background: var(--color-primary-light);
  pointer-events: none;
}

.indexItem p {
  width: max-content;
  color: var(--text-primary);
  background: var(--surface-primary);
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding-inline: 15px;
  border-radius: 50px;
  position: relative;
}

.indexItem p::before {
  content: "";
  position: absolute;
  right: -20px;
  width: 50px;
  height: 50px;
  background: var(--surface-primary);
  filter: blur(10px);
}

.indexItem .circle {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: var(--color-primary-light);
  border: 3px solid transparent;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.indexItem.active {
  background: var(--color-primary);
  border-color: var(--color-primary);
  padding-inline: 20px 0;
  pointer-events: none;
}

.indexItem.active p {
  color: var(--color-primary);
  font-weight: 600;
}

.indexItem.active .circle {
  background: var(--surface-primary);
  border-color: var(--color-primary);
}

.coverAside,
.indexList>span {
  display: none;
}

/* MEDIA QUERIES */

@media (width <=1024px) {
  .heroBottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  .heroBottom .col:nth-child(2) {
    order: 3;
  }

  .heroBottom .col:nth-child(1) {
    display: none;
  }

  .heroBottom .col>span {
    display: none;
  }

  .heroTop span {
    min-height: 150px;
    max-height: 200px;
  }

  .primaryButton {
    width: 60px;
    padding: 0;
    justify-content: center;
  }

  .aside {
    width: 100vw !important;
    height: 100vh;
    padding: 0 4vw;
    gap: 10px;
    top: auto;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: end;
    position: fixed;
    clip-path: none;
    background: var(--surface-primary-transparent);
    z-index: 100;
    opacity: 0;
    transition: none;
  }

  .main.showIndex .aside {
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: var(--dynamic-fast-transition);
  }

  .aside header {
    display: none;
  }

  .indexList {
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 40px 30px 30px 50px;
    background: var(--surface-primary-transparent);
    backdrop-filter: blur(20px);
    border: 3px solid var(--text-primary-transparent);
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    z-index: 5;
    clip-path: inset(100% 0 0 0);
  }

  .main.showIndex .indexList {
    clip-path: inset(0 0 0 0);
    transition: clip-path var(--dynamic-fast-transition);
  }

  .indexList>span {
    display: block;
    margin: 0 0 -5px -20px;
  }

  .indexList::-webkit-scrollbar {
    display: none;
  }

  .indexList::before {
    content: "";
    position: absolute;
    width: 50px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 10px;
    background: var(--text-primary-transparent);
  }

  .indexItem {
    min-height: 50px;
    opacity: 0;
  }

  .indexItem p {
    font-size: 16px;
  }

  .main.showIndex .indexItem {
    animation: fadeIn .3s ease forwards;
  }

  .coverAside {
    display: block;
    z-index: 2;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .sheets iframe {
    display: none;
  }
}


@media (width <=768px) {
  .detailProject {
    padding: 0 4vw 100px 4vw;
  }

  .nav {
    border: none;
  }

  .nav .cta {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
  }

  .nav .cta::before {
    content: "";
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%) scale(2);
    position: absolute;
    z-index: -1;
    width: 120vw;
    height: 200px;
    background: var(--surface-primary);
    filter: blur(10px);
  }

  .cover {
    backdrop-filter: blur(0);
    transition: var(--dynamic-transition);
  }

  .cover.show {
    pointer-events: all;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: var(--surface-primary-transparent);
    backdrop-filter: blur(5px);
  }

  .hero {
    margin: 0;
  }

  .heroTop span {
    max-height: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .main {
    margin-top: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}