.cardProject {
  position: relative;
  min-width: 430px;
  flex: 1 1 calc(50% - 25px);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
  background: var(--surface-primary);
  padding: 40px 30px 30px 30px;
  border-radius: 20px;
  z-index: 10;
  transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Estilos para la imagen duplicada con blur */
.blurOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(30px);
  transition: .3s ease;
  z-index: -1;
}

.blurImage {
  width: 100%;
  height: 100%;
}

.cardProject:hover .blurOverlay {
  opacity: .5;
}

.category {
  position: absolute;
  display: flex;
  left: 0;
  top: -15px;
  pointer-events: none;
}

.category span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 35px;
  padding: 0 30px;
  gap: 5px;
  font-weight: var(--active-label-weight);
  text-transform: uppercase;
  border-radius: 15px 20px 20px 4px;
  color: var(--text-alternative);
  background: var(--color-primary);
}

.category span path {
  stroke: var(--text-alternative);
}

.category span:nth-child(1) {
  z-index: 2;
}

.category span:nth-child(2) {
  background: var(--color-primary-dark);
  padding-left: 60px;
  margin-left: -40px;
}

.carousel {
  width: 100%;
  border-radius: 20px;
  height: 350px;
  overflow: hidden;
  position: relative;
  background: var(--color-neutral);
}

.carouselTrack {
  height: 100%;
  display: flex;
  position: relative;
  transition: transform var(--dynamic-transition);
}

.carouselImage {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.carouselControl {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.carouselButtonPrev,
.carouselButtonNext {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--surface-primary);
  box-shadow: var(--strong-shadow);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: width .3s ease;
}

.carouselButtonPrev {
  left: 10px;
}

.carouselButtonNext {
  right: 10px;
}

.carouselButtonPrev:active,
.carouselButtonNext:active {
  opacity: .3;
  transform: scale(1.1);
}

.carouselButtonPrev path,
.carouselButtonNext path {
  stroke: var(--text-primary);
}

.stepbar {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  padding: 0 20px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: var(--surface-primary);
  box-shadow: var(--strong-shadow);
}

.step {
  width: 8px;
  height: 8px;
  border-radius: 500px;
  background: var(--hover-primary-light);
  transition: width .3s ease;
}

.step.active {
  width: 25px;
  background: var(--color-primary);
}

.cardFooter {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cardFooter>span {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.cardFooter>span>span {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cardFooter h3 {
  font-size: 26px;
  color: var(--text-primary);
  font-weight: var(--label-weight);
}

.cardFooter p {
  line-height: 140%;
}

.cardFooter ul {
  display: flex;
  gap: 0;
}

.arrowCircle {
  width: 60px;
  height: 60px;
  position: relative;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border: 2px solid var(--color-primary-light);
  border-radius: 50%;
  transition: background var(--dynamic-fast-transition);
}

.arrowCircle svg {
  position: absolute;
  transition: var(--dynamic-fast-transition);
}

.arrowCircle svg path {
  stroke: var(--color-primary);
}

.cardProject:hover .arrowCircle {
  background: var(--color-primary-light);
}

.cardProject:hover .arrowCircle svg {
  transform: translate(5px, -5px);
}