.education {
  width: 100%;
  padding: 50px 0;
}

.containerEducation {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  transition: var(--dynamic-fast-transition);

  header {
    display: grid;
    grid-template-columns: minmax(150px, 300px) 200px minmax(250px, 1fr) 80px;
    gap: 40px;
    padding: 0 40px 0 20px;
    padding-inline: 20px 40px;

    span:nth-child(1) {
      margin-left: 20px;
    }
  }
}

.tools {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 20px 30px;
  flex-wrap: wrap;
  gap: 0 20px;
}

.tools>span {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerList {
  display: flex;
  flex-direction: column;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 60px;
  background: var(--color-neutral);
  border-radius: 20px;
  gap: 30px;
}

.containerGrid header {
  display: none;
}

.motionCard {
  transition: var(--dynamic-fast-transition);
}

@media (width >=1024px) {
  .containerEducation:has(.motionCard:hover) .motionCard:not(:hover) {
    opacity: .4 !important;
  }
}

@media (width <=1024px) {
  .education {
    padding-bottom: 0;
  }

  .containerGrid {
    padding: 0;
    background: none;
  }

  .motionCard {
    width: 100%;
    height: 100%;
  }

  .motionCard>a {
    display: flex;
  }
}