.footer {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  justify-content: space-between;
  border-top: 2px solid var(--color-neutral);
  line-height: 140%;
  color: var(--text-muted);
}

.footer strong {
  color: var(--text-secondary);
}

.footerLinks {
  display: flex;
  align-items: center;
}

.separator {
  width: 1px;
  height: 30px;
  background: var(--color-primary-light);
  margin-inline: 10px;
}


/* MEDIA QUERIES */
@media (width <= 768px) {
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    text-wrap: balance;
    gap: 10px;
  }
}