.header {
  width: 100%;
  display: flex;
  align-items: end;
  margin-bottom: 30px;
  gap: 30px;
}

.icon {
  width: 150px;
  height: 150px;
  background: var(--color-primary-light);
  border-radius: 5px 50px 50px 50px;
  display: grid;
  place-items: center;
}

.header span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description {
  max-width: 800px;
}