.header, .header span {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  gap: 50px;
}

.header span {
  gap: 30px;
}

.header svg stop {
  stop-color: var(--color-primary-light);
}

.header svg stop:nth-child(1) {
  stop-opacity: 0;
}

.title {
  color: var(--text-primary);
  font-size: 50px;
}