.chip {
  list-style: none;
  height: 30px;
  width: max-content;
  display: grid;
  place-items: center;
  padding: 0 15px;
  border-radius: 500px;
  background: linear-gradient(180deg, var(--color-primary-light) 60%, var(--color-primary-light-accent) 100%);
  color: var(--color-primary);
  position: relative;
}

.chip > span {
  z-index: 2;
  font-weight: 800 !important;
  font-size: 13px;
  letter-spacing: -.5px;
  text-transform: uppercase;
}

.chip::before {
  background: var(--color-primary-light);
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 500px;
  z-index: 2;
}

@media (width <=768px) {
  .chip {
    padding: 0 12px;
    height: 24px;
  }

  .chip > span {
    font-size: 12px;
  }
}