.snackbar {
  position: fixed;
  left: 5vh;
  bottom: 5vh;
  min-width: 320px;
  height: 55px;
  border-radius: 20px;
  background: var(--text-primary);
  box-shadow: 5px 5px 10px #1d1d1d3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
  padding-inline: 10px 0;
  user-select: none;
  z-index: 1000;
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
  transition: var(--dynamic-fast-transition);
  
  .title {
    color: var(--surface-primary);
    font-size: 16px;
    font-weight: 600;
  }

  .snackbarLeft {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background: var(--surface-primary);
    border-radius: 15px;
  }

  span svg path {
    stroke: var(--text-primary);
  }

  .closeButton {
    position: relative;
    width: 55px;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .closeButton path {
    stroke: var(--surface-primary);
    opacity: .6;
  }

  .closeButton:hover path {
    opacity: 1; 
  }
}

.snackbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* MEDIA QUERIES */
@media (width <= 768px) {
  .snackbar {
    width: calc(100vw - 8vw);
    bottom: calc(3vh + 60px);
    max-width: 320px;
    left: 50%;
    transform: translate(-50%, 40px);
  }

  .snackbar.visible {
    transform: translate(-50%, 0);
  }
}